.main {
  display: flex;
  justify-content: center;
}

.mobile-view {
  position: relative;
  min-height: 100vh;
  max-width: 430px;
  width: 100%;
  overflow: hidden;
  > div {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    .content {
      display: flex;
      flex: 1 1 auto;
      overflow-y: auto;
      flex-direction: column; // 메인에서 피드가 적을때 이 속성때문에 드롭다운이 안보여짐
    }
  }
}
