@mixin dotdotdot($font-size: 14, $lines-to-show: 1, $line-height: 1.5) {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  // box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
  // display: box;
  // max-width: 400px;
  max-width: 100%;
  height: $font-size * $line-height * $lines-to-show * 1px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size * 1px;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin parent-selector($new-class) {
  $current-selector: &;
  $new-selector: "";

  @each $item in $current-selector {
    $first-item: nth($item, 1);

    $appended-item: $first-item + $new-class;

    $new-item: set-nth($item, 1, $appended-item);
    $new-selector: append($new-item, $new-selector);
  }

  @at-root #{$new-selector} {
    @content;
  }
}

@mixin scroll-hide {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
